section {
  background: linear-gradient(var(--green-1), var(--green-2), var(--green-3));

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;


  h1 {
    background: linear-gradient(
      150deg,
      var(--gradiente-hero-3),
      var(--gradiente-hero-2),
      var(--gradiente-hero-1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin-bottom: 32px;
  }

  #pHero {
    max-width: 700px;
    margin: auto;

    margin-bottom: 45px;
  }

  button {
    margin-bottom: 55px;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    list-style-type: none;
    li {
      display: flex;
    }
  }
}
