section {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 64px;

  flex-wrap: wrap-reverse;

  article {
    width: 600px;

    h2{
      margin-bottom: 40px;
    }
    p{
      margin-bottom: 24px;

      text-align: justify;

      text-indent: 8px;
    }
  }
}
