section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  #pAbout {
    margin-bottom: 32px;
  }

  h2 {
    margin-bottom: 24px;
  }

  p {
    max-width: 550px;
  }

  #main {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 48px;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 48px;

    margin-bottom: 32px;

    ul {
      list-style-type: none;
      display: flex;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
      

        max-width: 280px;
      }
    }

  }

  #campImg {
    object-fit: cover;

    width: 400px;
    height: 600px;
  }
}
