section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 65px;

  text-align: center;
  #details {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

    gap: 25px;
    #images {
      max-width: 630px;

      display: flex;
      flex-wrap: wrap;

      gap: 15px;
      .img {
        width: 300px;
        height: 400px;
        object-fit: cover;
      }
    }

    #program {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .img {
        width: 550px;
        height: 650px;
      }

      #coment {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: start;
        max-width: 600px;

        h2 {
          font-size: 30px;
        }
      }
    }
  }

  #local {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 25px;

    div {
      padding: 8px;

      border: 1px solid rgb(55, 134, 86);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      transform: scale(1.02);

      border-radius: 10px;

      display: flex;
      flex-direction: column;

      text-align: start;
      gap: 15px;

      max-width: 500px;

      a {
        color: rgb(55, 134, 86);

        display: flex;
        align-items: center;
        gap: 5px;

        transition: 0.3s;
        &:hover {
          gap: 6px;
        }
      }
    }

    .img {
      width: 650px;
      height: 650px;

      object-fit: cover;
    }
  }
}
