section {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    display: flex;
    flex-direction: column;

    margin-top: 40px;

    li {
      display: flex;

      gap: 24px;

      .icnContact {
        background-color: var(--btn-normal);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;

        border-radius: 8px;
      }

      div {
        h4 {
          margin-bottom: 7px;
        }
        p {
          margin-bottom: 12px;
        }

        a {
          color: var(--green-3);

          display: flex;
          align-items: center;

          transition: 0.8s;
          &:hover {
            gap: 8px;
          }
        }
      }
    }
  }
}
