nav {
  ul {
    display: flex;
    align-items: center;

    li {
      a {
        display: flex;
        flex-direction: column;
        align-items: end;

gap: 3px;


        transition: 0.3s;

        
        span {
          background-color: var(--red-1);
          height: 2px;
          width: 16px;
          transition: width 0.8s ease;
        }
        &:hover {
          color: var(--red-1);

          span {
            width: 100%;
          }
        }
      }
    }

    @media (max-width: 750px) {
      display: none;

      position: absolute;
      top: 100%;
      right: 3%;
      flex-direction: column;

      background-color: white;

      padding: 10px;

      border: 1px solid var(--green-3);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      transform: scale(1.02);

      border-radius: 10px;

      gap: 24px;
      align-items: end;
      li {
        padding: 10px;
      }
    }

    &.show {
      display: flex !important;
    }
  }

  button {
    width: max-content;
    height: max-content;

    margin-right: 16px;

    background-color: white;
    color: var(--green-1);
    font-size: 32px;
    font-weight: 700;

    display: none;

    position: relative;

    @media (max-width: 750px) {
      display: block;
    }
  }
}
