section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  h2 {
margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 24px;
      

    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 32px;

    li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      gap: 24px;

      .img {
        width: 300px;
        height: 300px;

        object-fit: cover;

        @media (max-width: 370px) {
          width: 250px;
          height: 250px;
        }
      }

      div {
        display: flex;
        flex-direction: column;

        align-items: start;
        justify-content: center;

        gap: 8px;

        h3 {
          font-size: 24px;
          margin-bottom: 16px;

          @media (max-width: 768px) {
            font-size: 16px;
            
      
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;

          justify-content: start;

          max-width: 250px;

          gap: 16px;

          margin-bottom: 16px;

          li {
            display: flex;
            align-items: center;

            gap: 4px;
          }
        }

        button {
          a {
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 8px;
          }
        }
      }
    }
  }
}
